# 系统配置
system:
  # 应用名称
  appName: "gf_system_appName"
  # 时区
  timeZone: Asia/Shanghai
  # debug开关，开启后接口出现错误时会向前端输出堆栈信息，可选：false|true，默认为true
  debug: true
  # gf运行模式，可选：not-set|develop|testing|staging|product
  mode: "develop"
  # 全局请求日志
  log:
    switch: true                                      # 日志开关，可选：false|true，默认为true
    queue: true                                       # 是否启用队列，启用时需要配置队列信息，可选：false|true，默认为true
    module: [ "admin", "api", "default" ]             # 需要记录的模块
    skipCode: [ ]                                     # 不记录的状态码，如： ["0", "-1"]
  # 国际化
  i18n:
    path: "./i18n"                                    # 指定语言文件存储的目录路径
    delimiters: ["${", "}"]                           # 指定翻译字符串的定界符,默认为["${", "}"]
    switch: true                                      # 国际化开关，可选：false|true，默认为true
    defaultLanguage: "zh-CN"                          # 默认使用语言，可选：zh-CN|zh-TW|en，默认为zh-CN
  # 插件资源目录，用于静态文件和模版文件的路径，默认为resource
  addonsResourcePath: "resource"


# 统一默认日志配置
defaultLogger: &defaultLogger
  flags: 42
  file: "{Y-m-d}.log"                                 # 日志文件格式。默认为"{Y-m-d}.log"
  prefix: ""                                          # 日志内容输出前缀。默认为空
  level: "all"                                        # 日志输出级别
  timeFormat: "2006-01-02 15:04:05"                   # 自定义日志输出的时间格式，使用Golang标准的时间格式配置
  ctxKeys: []                                         # 自定义Context上下文变量名称，自动打印Context的变量到日志中。默认为空
  header: true                                        # 是否打印日志的头信息。默认true
  stdout: true                                        # 日志是否同时输出到终端。默认true
  rotateSize: 0                                       # 按照日志文件大小对文件进行滚动切分。默认为0，表示关闭滚动切分特性
  rotateExpire: 0                                     # 按照日志文件时间间隔对文件滚动切分。默认为0，表示关闭滚动切分特性
  rotateBackupLimit: 2                                # 最大备份数量。默认为0，表示不备份，切分则删除
  rotateBackupExpire: 0                               # 按照切分的文件有效期清理切分文件，当滚动切分特性开启时有效。默认为0，表示不备份，切分则删除
  rotateBackupCompress: 2                             # 日志文件压缩级别，0-9,9最高;默认为0，表示不压缩
  rotateCheckInterval: "1h"                           # 滚动切分的时间检测间隔，一般不需要设置。默认为1小时
  stdoutColorDisabled: false                          # 关闭终端的颜色打印。默认开启
  writerColorEnable: true                             # 日志文件是否带上颜色。默认false，表示不带颜色


# 默认读取：http服务的配置
server:
  address: ":8000"                            # 本地监听地址。默认":8000"，多个地址以","号分隔。例如："192.168.2.3:8000,10.0.3.10:8001"
  openapiPath: "/api.json"                    # OpenAPI接口文档地址
  swaggerPath: "/swagger"                     # 内置SwaggerUI展示地址
  serverRoot: "resource/public"               # 静态文件服务的目录根路径，配置时自动开启静态文件服务。
  DumpRouterMap: false                        # 是否在Server启动时打印所有的路由列表。
  logPath: "logs/server"                      # 服务日志保存路径
  ErrorStack: true                            # 当Server捕获到异常时是否记录堆栈信息到日志中。默认为true
  ErrorLogEnabled: true                       # 是否记录异常日志信息到日志中。默认为true
  errorLogPattern: "error/{Y-m-d}.log"        # 异常错误日志文件格式。默认为"error-{Ymd}.log"
  accessLogEnabled: true                      # 是否记录访问日志。默认为false
  accessLogPattern: "access/{Y-m-d}.log"      # 访问日志文件格式。默认为"access-{Ymd}.log"
  maxHeaderBytes: "100KB"                     # 请求头大小限制，请求头包括客户端提交的Cookie数据，默认设置为100KB
  clientMaxBodySize: "200MB"                  # 客户端提交的Body大小限制，同时也影响文件上传大小，默认设置为200MB
  serverAgent: "HG HTTP Server"               # 服务端Agent信息。默认为"HG HTTP Server"
  # PProf配置
  pprofEnabled: true                          # 是否开启PProf性能调试特性。默认为false
  pprofPattern: "/pprof"                      # 开启PProf时有效，表示PProf特性的页面访问路径，对当前Server绑定的所有域名有效。
  # 服务日志配置
  logger:
    path: "logs/server"                       # 日志文件路径。默认为空，表示关闭，仅输出到终端
    <<: *defaultLogger


# tcp服务配置
tcp:
  server:
    address: ":8099"
  client:
    # 定时任务
    cron:
      group: "gf_tcp_client_cron_group"                             # 分组名称
      name: "gf_tcp_client_cron_name"                               # 客户端名称
      address: "127.0.0.1:8099"                                     # 服务器地址
      appId: "1002"                                                 # 应用名称
      secretKey: "gf_tcp_client_cron_secretKey"                     # 密钥
    # 系统授权
    auth:
      group: "auth"                                                 # 分组名称
      name: "gf_tcp_client_auth_name"                               # 客户端名称
      address: "127.0.0.1:8099"                                     # 服务器地址
      appId: "gf_tcp_client_auth_appId"                             # 应用名称
      secretKey: "123456"                                           # 密钥


# 默认读取：日志配置
logger:
  # 全局日志：g.Log()
  path: "logs/logger"                       # 日志文件路径。默认为空，表示关闭，仅输出到终端
  <<: *defaultLogger
  # 定时任务：g.Log("cron")
  cron:
    path: "logs/cron"                       # 日志文件路径。默认为空，表示关闭，仅输出到终端
    <<: *defaultLogger
  # 消息队列：g.Log("queue")
  queue:
    path: "logs/queue"                      # 日志文件路径。默认为空，表示关闭，仅输出到终端
    <<: *defaultLogger
  # tcp服务器：g.Log("tcpServer")
  tcpServer:
    path: "logs/tcpServer"                  # 日志文件路径。默认为空，表示关闭，仅输出到终端
    <<: *defaultLogger
  # tcp客户端：g.Log("tcpClient")
  tcpClient:
    path: "logs/tcpClient"                  # 日志文件路径。默认为空，表示关闭，仅输出到终端
    <<: *defaultLogger
  # udp终端 g.Log("udpServer")
  udpServer:
    path: "logs/udpServer"                  # 日志文件路径。默认为空，表示关闭，仅输出到终端
    <<: *defaultLogger



# 默认读取：模板引擎 配置参考：https://goframe.org/pages/viewpage.action?pageId=1114335
viewer:
  paths: "resource/template"
  defaultFile: "index.html"
  delimiters: [ "@{", "}" ]
  homeLayout: "home/index.html"


# 路由配置
router:
  # 后台
  admin:
    # 前缀
    prefix: "/admin"
    # 不需要验证登录的路由地址
    exceptLogin: [
      "/sms/send",              # 短信验证码
      "/wechat/authorizeCall",  # 微信用户授权回调
    ]
    # 不需要验证权限的路由地址
    exceptAuth: [
      "/member/info",                   # 登录用户信息
      "/role/dynamic",                  # 获取动态路由
      "/notice/pullMessages",           # 拉取我的消息
      "/notice/readAll",                # 设置全部已读公告
      "/notice/upRead",                 # 已读指定公告
      "/dictData/option",               # 单个数据字典
      "/dictData/options",              # 多个数据字典
      "/provinces/select",              # 动态省市区选项
      "/provinces/cityLabel",           # 动态解析省市区名称
      "/member/option",                 # 用户选项
    ]
  # 接口
  api:
    # 前缀
    prefix: "/api"
    # 不需要验证登录的路由地址
    exceptLogin: [ ]
  # websocket
  websocket:
    # 前缀
    prefix: "/socket"
    # 不需要验证登录的路由地址
    exceptLogin: [ ]
  # 前台页面
  home:
    # 前缀
    prefix: "/home"
    # 不需要验证登录的路由地址
    exceptLogin: [ ]


# 缓存驱动配置
cache:
  adapter: "file"                    # 缓存驱动方式，支持：memory|redis|file，不填默认memory
  fileDir: "./storage/cache"         # 文件缓存路径，adapter=file时必填


# 登录令牌
token:
  secretKey: "gf_token"                  # 令牌加密秘钥，考虑安全问题生产环境中请修改默认值
  expires: 604800                        # 令牌有效期，单位：秒。默认7天
  autoRefresh: true                      # 是否开启自动刷新过期时间， false|true 默认为true
  refreshInterval: 86400                 # 刷新间隔，单位：秒。必须小于expires，否则无法触发。默认1天内只允许刷新一次
  maxRefreshTimes: 30                    # 最大允许刷新次数，-1不限制。默认30次
  multiLogin: true                       # 是否允许多端登录， false|true 默认为true


# 消息队列
queue:
  switch: true                                        # 队列开关，可选：true|false，默认为true
  driver: "disk"                                      # 队列驱动，可选：disk|redis|rocketmq|kafka，默认为disk
  groupName: "gf_queue"                                  # mq群组名称
  # 磁盘队列
  disk:
    path: "./storage/diskqueue"                       # 数据存放路径
    batchSize: 100                                    # 每100条消息同步一次，batchSize和batchTime满足其一就会同步一次
    batchTime: 1                                      # 每1秒消息同步一次
    segmentSize: 10485760                             # 每个topic分片数据文件最大字节，默认10M
    segmentLimit: 3000                                # 每个topic最大分片数据文件数量，超出部分将会丢弃
  # redis，默认使用全局redis运行队列
  redis:
    timeout: 0                                        # 队列超时时间以秒为单位，0表示永不超时。如果队列在设定的超时时间内没有被消费，则会被销毁
  rocketmq:
    nameSrvAdders: ["127.0.0.1:9876"]                  # nameSrvAdder+端口，支持多个
    accessKey: ""                                      # 选填。如果开启了acl控制就必填
    secretKey: ""                                      # 选填。如果开启了acl控制就必填
    brokerAddr: "127.0.0.1:10911"                      # brokerAddr+端口，选填。用于消费者订阅主题前会检查主题是否存在，不存在会自动创建。你也可以在rocketmq控制台手动创建主题
    retry: 0                                           # 重试次数
    logLevel: "info"                                   # rocketmq日志输出级别，可选：all|close|debug|info|warn|error|fatal
  kafka:
    address: "127.0.0.1:9092"                         # kafka地址+端口
    version: "2.0.0.0"                                # kafka专属配置，默认2.0.0.0
    randClient: true                                  # 开启随机生成clientID，可以实现启动多实例同时一起消费相同topic，加速消费能力的特性，默认为true
    multiConsumer: true                               # 是否支持创建多个消费者


# 默认读取: Redis. 配置参考：https://goframe.org/pages/viewpage.action?pageId=1114217
redis:
  default:
    address: "127.0.0.1:6379"
    db: "2"
    pass: ""
    idleTimeout: "20"


# 默认读取: Database. 配置参考：https://goframe.org/pages/viewpage.action?pageId=1114245
database:
  logger:
    path: "logs/database"                       # 日志文件路径。默认为空，表示关闭，仅输出到终端
    <<: *defaultLogger
    stdout: true
  default:
    link: "mysql:root:123456@tcp(127.0.0.1:3306)/gf_template?loc=Local&parseTime=true&charset=utf8mb4"
    debug: true
    Prefix: "gf_"
    charset: "utf8mb4"
    # dryRun: true                                # 开启后所有的写操作都会被打印但不会真正执行。默认为false