# CLI tool, only in development environment.
# https://goframe.org/docs/cli
gfcli:
  # 工具编译配置
  build:
    name: "gf_template"
    arch: "amd64"
    system: "linux,darwin,windows"
    mod: ""
    cgo: 0

  # dao生成
  gen:
    dao:
      - link: "mysql:root:123456@tcp(127.0.0.1:3306)/gf_template"
        group: "default"                                                # 分组 使用hotgo代码生成功能时必须填
        # tables: ""                                                    # 指定当前数据库中需要执行代码生成的数据表。如果为空，表示数据库的所有表都会生成。
        tablesEx: "hg_sys_addons_install"                               # 指定当前数据库中需要排除代码生成的数据表。
        removePrefix: "gf_"
        descriptionTag: true                                            # 为每个字段添加备注
        noModelComment: true                                            # 用于指定是否关闭数据模型结构体属性的注释自动生成，内容为数据表对应字段的注释。
        jsonCase: "CamelLower"
        gJsonSupport: true
        clear: false
        # shardingPattern:                                              # 分库分表
        #   - "users_?"
        #   - "orders_?"
        genTable: true                                                  # 用于控制是否生成数据库表字段定义文件

  # https://goframe.org/docs/web/server-config-file-template

  docker:
    build: "-a amd64 -s linux -p temp -ew"
    tagPrefixes:
      - my.image.pub/my-app
