# CLI tool, only in development environment.
# https://goframe.org/docs/cli
gfcli:
  # 工具编译配置
  build:
    name: "gf_template"
    arch: "amd64"
    system: "linux,darwin,windows"
    mod: ""
    cgo: 0

  # dao生成
  gen:
    dao:
      - link: "mysql:root:123456@tcp(127.0.0.1:3306)/gf_template"
        descriptionTag: true
      # - type: "mysql"
      #   host: "127.0.0.1"
      #   port: "3306"
      #   user: "root"
      #   pass: "123456"
      #   name: "gf_template"
      #   debug: true
      #   descriptionTag: true
      #   noModelComment: true

  # https://goframe.org/docs/web/server-config-file-template

  docker:
    build: "-a amd64 -s linux -p temp -ew"
    tagPrefixes:
      - my.image.pub/my-app
